<div id="chartdiv5" align="center">Stacked</div>
<script type="text/javascript">
var myChart5 = new FusionCharts("<%= asset_path 'FusionCharts/FCF_StackedBar2D.swf' %>", "myChartId5", "850", "750");
myChart5.setDataURL("<%= asset_path 'FusionCharts/StBar2D.xml' %>");
myChart5.render("chartdiv5");
</script>
				