<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
var chart;
$(document).ready(function() {
	chart = new Highcharts.Chart({
		chart: {
			renderTo: 'container',
			defaultSeriesType: 'scatter',
			zoomType: 'x'
		},
		title: {
			text: 'Test data- (High Chart)'
		},
		subtitle: {
			text: document.ontouchstart === undefined ?
				'Click and drag in the plot area to zoom in' :
				'Drag your finger over the plot to zoom in'
		},
		xAxis: {
			title: {
				enabled: true,
				text: 'X-value'
			},
			startOnTick: true,
			endOnTick: true,
			showLastLabel: true,
			tickInterval: 2
		},
		yAxis: {
			title: {
				text: 'Y-value'
			},
			tickInterval: 0.1,
			minPadding: 0.05
		},
		tooltip: {
			formatter: function() {
					return ''+
					this.x +' LSAT, '+ this.y +' GPA';
			}
		},
		legend: {
			layout: 'vertical',
			align: 'left',
			verticalAlign: 'top',
			x: 100,
			y: 70,
			floating: true,
			backgroundColor: '#FFFFFF',
			borderWidth: 1
		},
		plotOptions: {
		    
			scatter: {
				marker: {
					radius: 5,
					states: {
						hover: {
							enabled: true,
							lineColor: 'rgb(100,100,100)'
						}
					}
				},
				states: {
					hover: {
						marker: {
							enabled: false
						}
					}
				}
			}
		},
		series: [{
			name: 'Accepted',
			color: 'rgba(223, 83, 83, .5)',
			pointWidth: 28,
			data: [[169, 4],[170, 3.76],[169, 3.68],[173, 3.85],[167, 3.79],
				[174, 3.5],[171, 3.77],[169, 3.55],[173, 3.5],[171, 3.42],
				[173, 3.23],[170, 3.52],[178, 4.1],[178, 3.59],[173, 3.93],
				[176, 2.8],[169, 3.87],[167, 3.86],[170, 3.86],[172, 3.58],
				[169, 3.84],[167, 3.9],[163, 3.3],[171, 3.55],[171, 3.6],
				[166, 3.75],[171, 3.69],[169, 3.97],[175, 3.43],[169, 3.43],
				[170, 3.6],[175, 3.2],[168, 3.81],[172, 3.67],[164, 3.75],
				[170, 3.56],[170, 3.7],[171, 3.82],[163, 3.9],[170, 3.55],
				[170, 3.7],[169, 4],[171, 3.52],[168, 3.8],[180, 3.88],
				[170, 3.8],[173, 3.72],[170, 3.74],[169, 3.78],[170, 3.8],
				[170, 3.56],[173, 3.91],[171, 3.6],[173, 3.26],[175, 3.5],
				[173, 3.8],[167, 3.7],[172, 3.75],[168, 3.86],[166, 3.8],
				[172, 3.9],[167, 3.8],[173, 3.7],[172, 3.65],[169, 3.58],
				[169, 3.75],[164, 3.97],[176, 3.55],[171, 3.91],[171, 3.58],
				[170, 3.9],[174, 3.83],[177, 3.2],[173, 3.69],[175, 3.6],
				[171, 3.3],[169, 3.71],[166, 3.99],[168, 4.04],[167, 4.01],
				[177, 3.66],[172, 3.67],[170, 3.8],[167, 3.82],[171, 3.77],
				[173, 3.98],[173, 3.62],[173, 3.8],[171, 3.7],[175, 3.2],
				[174, 3.91],[168, 3.62],[170, 3.85],[169, 3.73],[173, 3.76],
				[176, 3.73],[173, 3.57],[164, 3.88],[159, 3.77],[167, 3.81],
				[172, 3.8],[171, 4],[174, 3.85],[176, 3.73],[173, 3.39],
				[174, 3.87],[171, 3.91],[172, 3.55],[178, 3.53],[172, 4.03],
				[170, 4],[172, 3.93],[173, 3.25],[177, 3.57],[168, 3.82],
				[170, 3.98],[174, 3.61],[165, 3.89],[167, 4.01],[164, 3.55],
				[170, 3.42],[166, 3.81],[170, 3.73],[172, 3.89],[164, 3.8],
				[170, 3.41],[174, 3.96],[171, 3.79],[175, 3.27],[172, 3.69],
				[170, 3.74],[170, 3.86],[169, 3.82],[159, 3.79],[169, 3.61],
				[169, 3.73],[173, 3.89],[171, 3.3],[170, 3.67],[168, 3.54],
				[169, 3.81],[174, 3.8],[168, 3.79],[171, 3.77],[175, 3.79],
				[170, 3.41],[167, 3.8],[171, 3.62],[172, 3.75],[170, 3.45],
				[167, 3.78],[169, 3.8],[169, 3.72],[173, 3.6],[174, 3.74],
				[174, 3.17],[172, 3.94],[169, 3.65],[169, 3.26],[177, 3.8],
				[170, 3.87],[175, 3.5],[174, 3.21],[174, 3.5],[170, 3.96],
				[169, 3.84],[168, 3.8],[160, 2.25],[171, 3.8],[169, 3.84],
				[171, 3.45],[175, 3.75],[167, 3.85],[173, 3.96],[173, 3.95],
				[168, 3.83],[170, 3.79],[167, 3.76],[172, 3.79],[173, 3.56],
				[169, 3.69],[171, 3.67],[171, 3.7],[172, 3.66],[175, 3.39],
				[173, 3.9],[164, 3.65],[169, 3.75],[168, 3.76],[165, 3.96],
				[172, 3.9],[171, 3.9],[172, 3.92],[175, 3.7],[163, 3.9],
				[169, 3.6],[171, 3.5],[169, 3.81],[166, 3.22],[168, 3.89],
				[177, 3.78],[167, 3.84],[170, 3.7],[172, 3.3],[177, 3.9],
				[172, 3.68],[172, 3.95],[169, 3.95],[166, 3.88],[180, 3.45],
				[173, 3.78],[178, 3.55],[169, 3.93],[168, 3.17],[162, 3.78],
				[172, 3.82],[166, 3.3],[176, 3.55],[169, 3.79],[171, 3.44],
				[172, 3.5],[172, 3.84],[176, 3.4],[163, 3.8],[168, 3.91],
				[159, 3.67],[176, 3.4],[172, 3.85],[169, 3.6],[165, 3.41],
				[169, 3.9],[170, 3.55],[165, 3.76],[175, 3.9],[170, 3.1],
				[172, 4.01],[173, 3.8],[177, 3.9],[173, 3.8],[178, 3.63],
				[165, 3.98],[172, 3.53],[170, 3.56],[176, 3.9],[170, 4.08],
				[173, 3.3],[173, 3.31],[172, 3.8],[176, 3.61],[167, 3.7],
				[166, 3.98],[175, 3.75],[174, 3.44],[176, 3.75],[167, 4],
				[175, 3.79],[164, 3.8],[167, 3.8],[167, 3.78],[159, 3.9],
				[169, 4],[167, 3.73],[170, 3.36],[163, 3.9],[169, 3.65],
				[167, 3.4],[171, 3.8],[174, 3.7],[171, 3.367],[169, 3.72],
				[172, 3.42],[169, 3.69],[172, 3.68],[174, 3.9],[173, 3.39],
				[174, 3.46],[175, 3.52],[173, 3.7],[173, 3.62],[165, 3.85],
				[170, 4],[169, 3.65],[171, 3.62],[172, 3.6],[165, 3.77],
				[170, 3.9],[175, 3.44],[167, 3.98],[173, 3.1],[170, 3.88],
				[169, 3.73],[159, 3.9],[171, 3.24],[170, 3.4],[172, 3.84],
				[165, 3.85],[170, 3.6],[168, 3.76],[175, 3.9],[171, 3.98],
				[171, 3.4],[168, 3.8],[170, 4.18],[173, 3.81],[170, 4.06],
				[167, 3.77],[170, 3.98],[171, 3.83],[171, 3.96],[173, 3.39],
				[170, 4.1],[172, 3.9],[170, 3.54],[173, 3.5],[173, 3.64],
				[167, 3.96],[176, 3.55],[173, 3.36],[177, 3.82],[179, 3.91],
				[172, 3.96],[174, 3.53],[172, 3.98],[170, 3.9],[170, 3.75],
				[174, 3.5],[171, 3.75],[173, 3.86],[171, 3.9],[173, 3.49],
				[170, 3.88],[170, 3.9],[171, 3.5],[169, 3.94],[173, 3.6],
				[170, 3.93],[167, 3.4],[173, 3.99],[177, 3.84],[175, 4],
				[175, 3.98],[175, 3.91],[161, 4.1],[171, 3.53],[172, 3.9],
				[171, 3.7],[171, 3.73],[173, 3.86],[169, 3.9],[175, 3.9],
				[172, 3.82],[172, 3.65],[174, 3.5],[169, 3.87],[167, 3.68],
				[172, 3.89],[175, 3.88],[171, 3.86],[169, 3.82],[172, 3.6],
				[172, 3.84],[173, 3.89],[177, 4],[167, 3.76],[170, 3.91],
				[166, 3.87],[165, 4],[174, 3.94],[168, 3.9],[172, 3.87],
				[177, 3.8],[178, 3.45],[174, 3.94],[171, 3.8],[173, 3.7],
				[160, 3.79],[155, 3.7],[172, 3.02],[170, 3.19],[168, 3.77],
				[172, 3.33],[172, 2.61],[164, 4.1],[163, 3.77],[165, 3.74],
				[164, 3.82],[167, 3.76],[172, 3.13],[173, 3.36],[169, 3.74],
				[174, 3.34],[177, 3.15],[174, 3.83],[173, 3.69],[168, 3.26],
				[171, 3.36],[169, 3.9],[172, 3.83],[169, 3],[170, 3.95],
				[177, 3.88],[170, 3.64]]

		}, {
			name: 'Rejected',
			color: 'rgba(119, 152, 191, .5)',
			data: [[162, 3.6],[168, 2.51],[155, 2.7],[151, 3.04],[170, 2.73],
				[165, 3.56],[165, 2.95],[165, 2.63],[164, 3.15],[152, 3.27],
				[165, 3.4],[159, 3.68],[167, 3.2],[164, 3.98],[167, 3.24],
				[159, 3.97],[157, 3.78],[159, 3.17],[166, 3.73],[162, 3.62],
				[158, 3.31],[164, 3.53],[166, 3.08],[144, 3.3],[167, 3.6],
				[163, 3.5],[164, 3.72],[165, 3.57],[170, 3.27],[156, 3],
				[158, 3.72],[161, 3.25],[167, 3.43],[166, 3.4],[167, 2.49],
				[165, 3.51],[169, 3.3],[166, 3.55],[144, 3.31],[157, 3.26],
				[167, 3.38],[158, 2.69],[167, 3.27],[162, 3.41],[167, 3.67],
				[155, 3.51],[163, 3.93],[168, 3.64],[152, 3.5],[163, 2.7],
				[162, 3.4],[161, 3.66],[166, 3.4],[166, 3.62],[164, 3.53],
				[161, 3.66],[163, 3.8],[167, 3.35],[157, 3.2],[164, 3.7],
				[162, 2.78],[168, 3.5],[157, 3.51],[159, 3.4],[165, 3.44],
				[166, 3.38],[167, 3.7],[167, 3.51],[167, 3.64],[161, 3.87],
				[163, 4]]
		},
		{
			name: 'WaitListed',
			color: 'rgba(223, 83, 83, .5)',
			data: [[167, 3.96],[177, 3.89],[161, 3.4],[168, 3.65],[166, 3.82],
				[173, 3.4],[175, 3.09],[156, 3.45],[163, 3.8],[169, 3.3],
				[159, 3.89],[168, 3.9],[166, 3.4],[176, 2.92],[169, 3.68],
				[179, 2.58],[164, 3.97],[169, 3.67],[170, 3.38],[168, 3.8],
				[170, 4],[165, 3.61],[175, 3.75],[161, 3.57],[177, 3.36],
				[169, 3.3],[163, 3.62],[165, 3.84],[167, 3.49],[175, 3.55],
				[161, 3.43],[169, 3.43],[168, 3.8],[163, 3.5],[172, 3.5],
				[164, 3.75],[169, 3.5],[160, 3.79],[169, 3.67],[169, 3.86],
				[173, 2.8],[167, 3.6],[166, 2.75],[163, 3.75],[170, 3.48],
				[166, 3.71],[170, 3.76],[170, 3.79],[162, 3.5],[166, 4],
				[163, 3.55],[162, 3.91],[170, 3.3],[162, 3.24],[166, 3.96],
				[166, 3.64],[172, 3.76],[170, 3.57],[176, 3.2],[166, 4],
				[168, 3.6],[165, 3.91],[163, 3.98],[167, 3.52],[165, 3.9],
				[169, 3.71],[160, 3.45],[169, 3.3],[165, 3.84],[175, 3.6],
				[176, 3.62],[173, 4],[169, 3.35],[170, 3.5],[169, 3.69],
				[171, 3.8],[169, 3.65],[165, 3.8],[169, 3.47],[169, 3.42],
				[173, 3.18],[169, 3.64],[169, 3.46],[164, 3.84],[167, 3.55],
				[175, 4],[166, 4.03],[177, 3.17],[167, 3],[170, 3.51],
				[155, 3.5],[175, 3.7],[169, 3.31],[160, 3.87],[168, 3.6],
				[162, 3.42],[167, 3.78],[170, 3.5],[167, 3.7],[173, 4.08],
				[171, 3.3],[173, 3.87],[170, 3.75],[175, 3.4],[175, 3.8],
				[173, 3.61],[171, 3.7],[170, 3.06],[167, 3.52],]

		}]
	});
});

		</script>