<% content_for :head do %>

	<h1>High Charts and Fusion Charts </h1>
	<p> This is the demo RoR application for the few sample charts using High Charts and Fusion Charts. For best view use Firefox. </p>
<% end %>

